.ko-font{
  font-family: "Apple SD Gothic Neo", sans-serif;
  font-weight: 500;
}

.en-font{
  font-family: "Helvetica Neue", sans-serif;
  font-weight: 500;
}

.icon-arrow{
  position: absolute;
  cursor: pointer;
  background-size: cover;
  width: var(--iconArraowVw); 
  height: var(--iconArraowVh); 
  bottom: var(--iconArrowBottomVw);
}

.icon-arrow:hover{
  scale: 1.3;
}

#arrowLeft{
  background-image: url('../../img/x3/arrow-left.png');
  margin-left: var(--iconArrowLeftMgVw);
}

#arrowRight{
  background-image: url('../../img/x3/arrow-right.png');
  margin-left: var(--iconArrowRightMgVw);
}
