#userMessageWrap{
  position: absolute;
  /* height: var(--userNameWrapVh); */
  bottom: var(--userNameWrapMgBtVh);
  /* left: 50%;
  transform: translateX(-50%); */
  text-align: center;
}
#userMessageWrap.wrapKo{
  /* width: var(--userMessageWrapVwKo); */
}

#userMessageWrap.wrapEn{
  /* width: var(--userMessageWrapVwEn); */
}

#userMessageWrap > label,
#userMessageWrap > input[type=text]{
  font-size: var(--font-26pt-vw);
}
#userMessageWrap > label{
  display: block;
}

#userMessageWrap > input[type=text]{
  margin-top: var(--userNameInputMgVh);
  display: block;
  border-width: 0px;
  background: transparent;
  border-bottom: var(--bottomLineVh) solid rgba(0,0,0,1);
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
  outline: none;
  width: 100%;
}

#userMessage {
  &::-webkit-input-placeholder {
    color: rgba(0, 0, 0, 0.3);
  }

  &:-moz-placeholder { /* Firefox 18- */
    color: rgba(0, 0, 0, 0.3);
  }

  &::-moz-placeholder {  /* Firefox 19+ */
    color: rgba(0, 0, 0, 0.3); 
  }

  &:-ms-input-placeholder {  
    color: rgba(0, 0, 0, 0.3);
  }
}